:root {
  --mainSeawave: #38be95;
  --mainYellow: #ffdb88; /*підбирав відповідні допомжні кольори на colorscheme.ru до цього кольору*/
  --mainOrange: #ffa00f;
  --mainRed: #ff0f43;
  --mainWhite: #ffff;
  --mainDark: black;
  --mainGrey: #f8f9fa;
}
body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  letter-spacing: 0.1rem !important;
}
.textOrange {
  color: var(--mainOrange);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainOrange);
  font-size: 2rem;
}
.btn-Seawave {
  color: var(--mainSeawave);
  border-color: var(--mainSeawave);
}
.btn-Seawave:hover {
  background-color: var(--mainSeawave);
  color: var(--mainWhite);
}
.footer {
  background: var(--mainSeawave);
  height: 20vh;
}
.product {
  background-color: var(--mainGrey);
}
